---
layout: default
---

{% include jumbotron.html %}

<section class="container mt-5" id="work">
  <div class="home text-center">

    <h1 class="page-heading">Latest Work</h1>

    <div class="row my-5">
      {% for post in site.posts %}
        <div class="col-sm-6 mb-5">
          <div class="browser-mockup mb-3">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <img src="{{ post.image_path }}" alt="{{ post.title }}" class="img-fluid mb-4">
            </a>
          </div>
          <h4>
            <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
              <b>{{ post.title | escape }}</b>
            </a>
          </h4>
          <div class="text-sm text-muted">
            <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
