.post {
  padding-top: 70px;
  &-header {
    background: #eaedf4;
    height: 100vh;
  }

  h1 {
    font-size: 3em;
  }

  &-intro {
    color: $gray-light;
    font-size: 1.5em;
  }

  .byline {
    h6 {
      color: lighten($gray-light, 5%);
      text-transform: uppercase;
    }
  }

  &-content {

    img {
      box-shadow: 0 0 3px rgba(0, 0, 0, .5);
      max-width: 100%;
    }
  }
}


// About page

.about {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }
  p {
    color: darken($gray-light, 5%);
    line-height: 2.15em;
  }
}
